.label {
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: .8rem;
    height: 3rem;
    width: 6rem;
}

.barcode {
    align-items: center;
    display: none;
    gap: .1rem;
    justify-content: center;
}

.barcode span {
    background-color: black;
    display: inline-block;
    height: 1rem;
    width: .2rem;
}