.popup {
    box-sizing: border-box;
    background-color: var(--secondary-color);
    min-height: 100dvh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100dvw;
}

.popup .max-width {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 100dvh;
    padding: 1rem;
    padding-top: 4rem;
}

/* Body */
div.body {
    max-width: 100%;
    margin-block: 1rem calc(2 * var(--button-font-size));
    overflow: auto;
}

/* Icons */
img {
    height: 4rem;
    width: 4rem;
}