/* Table */
table {
    border-collapse: collapse;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: .1rem .4rem;
    white-space: nowrap
}

tr.excel {
    text-align: left;
    background-color: #037543;
    color: white;
}

thead tr,
tbody {
    background-color: white;
    color: black;
}

div.overflow-auto {
    max-width: 100%;
    overflow: auto;
}