.popup {
    box-sizing: border-box;
    background-color: var(--secondary-color);
    min-height: 100dvh;
    left: 0;
    padding: 1rem;
    padding-top: 4rem;
    position: absolute;
    top: 0;
    width: 100dvw;
}

/* Progress */
progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    display: block;
    margin: 0 auto;
    width: 80%;
    height: 12px;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 2px;
}

progress[value]::-webkit-progress-value {
    background-color: var(--tertiary-color);
    border-radius: 2px;
}

progress[value]::-moz-progress-bar {
    background-color: var(--tertiary-color);
    border-radius: 2px;
}

/* Body */
div.body {
    max-width: 100%;
    margin-block: 1rem calc(2 * var(--button-font-size));
    overflow: auto;
}

/* Spinner from https://loading.io/css/ */
.lds-ellipsis {
    bottom: 0;
    display: inline-block;
    height: 80px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/* Table */
table {
    border-collapse: collapse;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: .1rem .4rem;
    white-space: nowrap
}

thead tr:first-child {
    text-align: left;
    background-color: #037543;
}

thead tr:nth-child(2),
tbody {
    background-color: white;
    color: black;
}